<!DOCTYPE html>
<html lang="en" class="no-js page-password-reset" ng-app="signupModule">
    <head>

        {% include "../partials/base_header.njk" %}
        <base href="/">

        <script type="text/javascript" src="/vendors/babel-polyfill/dist/polyfill.min.js"></script>
        <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
        <script type="text/javascript" src="/vendors/@uirouter/core/_bundles/ui-router-core.min.js"></script>
        <script type="text/javascript" src="/vendors/@uirouter/angularjs/release/ui-router-angularjs.min.js"></script>
        <script type="text/javascript" src="/vendors/@uirouter/angularjs/release/stateEvents.min.js"></script>
        <script type="text/javascript" src="/vendors/angular-messages/angular-messages.min.js"></script>
        <script type="text/javascript" src="/vendors/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/vendors/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="/vendors/angular-aria/angular-aria.min.js"></script>
        <script type="text/javascript" src="/vendors/angular-material/angular-material.min.js"></script>
        <script type="text/javascript" src="/javascripts/build/signup/signup.js"></script>
        <script type="text/javascript" src="/javascripts/build/signup/signup.ctrl.js"></script>
        <script type="text/javascript" src="/javascripts/build/signup/signup.dir.js"></script>
        <script type="text/javascript" src="/javascripts/build/signup/signup.ftry.js"></script>

    </head>

    <body>
        <div class="container-fluid" style="margin-top: 30px">
            <div class="row">
                <img src="/images/Gist_h_rgb.svg" alt="Arrays logo"
                    class="img-responsive col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" />
                <h1 class="text-center col-xs-12 signup">Password Reset</h1>
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" ui-view></div>
            </div>
        </div>
    </body>

    {% if env.FE_LIVERELOAD == "true" %}
    <script src="//localhost:35729/livereload.js"></script>
    {% endif %}

</html>
