<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="site-info">
        <span>&copy; {{ copyrightYear }} Schema Design, LLC</span>
        <span><a href="mailto:Schema Design<info@schemadesign.com>">info@schemadesign.com</a></span>
    </div>
</footer>
