<div id="insights-explorer" class="gist-insights-explorer {{'showing' if showInsightsExplorer and stories.length}}">

  <div class="gist-insights-bar">
    {% for story in stories %}
      <div
        class="gist-story-title-text gist-insights-frame {{ "highlighted" if sharedPageId == story.sharedPages[0]._id }}"
        subdomain-url="{{ "https" if env.USE_SSL === "true" else "http" }}://{{ subdomain }}.{{ env.HOST }}"
        share-link="/s/{{ story.sharedPages[0]._id }}{{'?embed=true' if embedded }}"
        same-page="true">

        <h3 class="gist-insights-title">{{ story.title }}</h3>
        <img class="gist-insights-thumbnail-img" src="{{ story.sharedPages[0].imageUrl }}" />
      </div>
    {% endfor %}
  </div>
</div>

