<script defer type="text/javascript" src="/vendors/l20n/dist/web/l20n.min.js"></script>
<meta name="defaultLanguage" content="en">
<!-- 
***** HEY! IMPORTANT THINGS! *****

    If any language locales are added, they must be added to the content attribute below for l20n to use the locale!
    Just add the filename with out the .ftl to the content attribute. :)

*****   OK YOU'RE SET        *****
-->
<meta name="availableLanguages" content="ar, bg, cs, da, de, el, en, es, fi, fr, hu, id, it, ja, kk, ko, ms, nl, no, pl, pt, ru, sk, sl, sv, th, tr, uk, vi, zh-TW, zh">
<link rel="localization" href="/locales/{locale}.ftl">
