<div class="gist-no-data-container">
    <span class="gist-no-data-message">
        (<span data-l10n-id="no-items-to-display-try">No items to display. Try</span>
        <a data-l10n-id="removing-all-filters" href="{{ routePath_base }}" class="color-brand">removing all filters</a>.)
    </span>
</div>
