{% macro default(basePath, lastPage, currentPage, showAlwaysFirstAndLast=true, extremePagesLimit=3, nearbyPagesLimit=2) %}
    {# set showAlwaysFirstAndLast = true #}

    {# the number of first and last pages to be displayed #}
    {# set extremePagesLimit = 3 #}

    {# the number of pages that are displayed around the active page #}
    {# set nearbyPagesLimit = 2 #}

    <ul class="pagination">
        {% if currentPage > 1 %}
        <li>
            <a href="{{ basePath | constructedRoutePath(null, {page: currentPage-1}) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {% for i in range(1, extremePagesLimit) -%}
        {% if ( i < currentPage - nearbyPagesLimit ) %}
        <li><a href="{{ basePath | constructedRoutePath(null, {page: i}) }}">{{ i }}</a></li>
        {% endif %}
        {%- endfor %}

        {% if extremePagesLimit + 1 < currentPage - nearbyPagesLimit %}
        <li><span>&hellip;</span></li>
        {% endif %}

        {% for i in range(currentPage-nearbyPagesLimit, currentPage) -%}
        {% if ( i > 0 ) %}
        <li><a href="{{ basePath | constructedRoutePath(null, {page: i}) }}">{{ i }}</a></li>
        {% endif %}
        {%- endfor %}
        {% elseif showAlwaysFirstAndLast %}
        <li class="disabled">
            <a onclick="return false;" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        <li><a onclick="return false;" href="{{ basePath | constructedRoutePath(null, {page: currentPage}) }}" class="active">{{ currentPage }}</a></li>

        {% if currentPage < lastPage %}
        {% for i in range(currentPage+1, currentPage + 1 + nearbyPagesLimit) -%}
        {% if ( i <= lastPage ) %}
        <li><a href="{{ basePath | constructedRoutePath(null, {page: i}) }}">{{ i }}</a></li>
        {% endif %}
        {%- endfor %}

        {% if  (lastPage - extremePagesLimit) > (currentPage + nearbyPagesLimit) %}
        <li><span>&hellip;</span></li>
        {% endif %}

        {% for i in range(lastPage - extremePagesLimit+1, lastPage+1) -%}
        {% if ( i > currentPage + nearbyPagesLimit ) %}
        <li><a href="{{ basePath | constructedRoutePath(null, {page: i}) }}">{{ i }}</a></li>
        {% endif %}
        {%- endfor %}

        <li>
            <a href="{{ basePath | constructedRoutePath(null, {page: currentPage+1}) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% elseif showAlwaysFirstAndLast %}
        <li class="disabled">
            <a onclick="return false;" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
{% endmacro %}

{% macro dropdown(basePath, lastPage, currentPage, showAlwaysFirstAndLast=true, extremePagesLimit=3, nearbyPagesLimit=2) %}
    {% import "./dropdown.njk" as dropdown %}
    {{ dropdown.default("Page", 'page', currentPage + ' of ' + lastPage, range(1, lastPage + 1), basePath, '', false, true) }}
{% endmacro %}
