<div class="gist-undisplayable-data-container">
    <span class="gist-undisplayable-data-message">(Unable to display data with the current view settings. Try changing the view settings.)</span>
</div>
