node_modules
**/node_modules
tmp
build
.git
docker-compose.*
Dockerfile
Makefile
*.md
seed.json
.npmrc
config/env/*
data
.cache
public/cdn
public/vendors
user
!user/anticorruption
!user/aspi
!user/cmrtoolkit
!user/google-media
!user/knoll
!user/rhodiumgroup
user
!user/anticorruption
!user/aspi
!user/cmrtoolkit
!user/google-media
!user/knoll
!user/rhodiumgroup
