<div class="modal fade" id="gist-share-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label">
    <style scoped>#gist-share-modal { font-size: 16px; }</style>
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="modal-title col-md-11" id="share-header"></h4>
                        <button type="button" class="gist-close col-md-1" data-dismiss="modal" aria-label="Close"><span class="gist-icon-close-big" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Share on Social Media</h3>
                        <div id="gist-facebook" data-text="Gist"></div>
                        <a href="#" id="gist-twitter" class="btn btn-action background-color-brand" data-text="Gist"><span class="gist-icon-twitter" aria-hidden="true"></span>Twitter</a>
                        <h3> Share URL </h3>
                        <pre class="border-color-brand" id="gist-share-url"></pre>
                    </div>
                </div>
            </div><!-- .modal-body -->

        </div><!-- .modal-content -->
    </div>
</div>
