<div>
    <a id="gist-skip-to-bottom" class="gist-skip-to-bottom" href="{{ routePath_base | constructedRoutePath(null, sortbarOptions) | safe }}#gist-skip-to-top">
        Skip to page top
    </a>
</div>