<div>
    <a id="gist-skip-to-top" class="gist-skip-to-top" tabindex="1" href="{{ routePath_base | constructedRoutePath(null, sortbarOptions) | safe }}#gist-skip-to-bottom">
        Skip to page bottom
    </a>
</div>