<div>
    <a id="gist-skip-to-legend-{{ viewInstanceId }}" tabindex="1"
        class="gist-skip-to-legend"
        href="{{ routePath_base | constructedRoutePath(null, sortbarOptions) | safe }}#gist-skip-back-to-top-{{ viewInstanceId }}">
        Skip to Legend
    </a>
</div>