<div>
    <a id="gist-skip-back-to-top-{{ viewInstanceId }}" class="gist-skip-back-to-top"
        href="{{ routePath_base | constructedRoutePath(null, sortbarOptions) | safe }}#gist-skip-to-legend-{{ viewInstanceId }}">
        Skip to top
    </a>
</div>
