{% if viewOptions.enableAccessibility %}
    <button class="gist-sort-direction accessibility-toggle gist-toggle-accessibility" title="Toggle to view in pattern mode" aria-label="Toggle pattern mode">
        <div class="gist-accessibility-on sort-direction-icon">
            <span class="gist-icon-accessibility"></span>
            <span data-l10n-id="pattern-view-on">Pattern View On</span>
        </div>
        <div class="gist-accessibility-off sort-direction-icon">
            <span class="gist-icon-accessibility"></span>
            <span data-l10n-id="pattern-view-off">Pattern View Off</span>
        </div>
    </button>
{% endif %}
