<md-nav-bar md-selected-nav-item="currentNavItem" md-no-ink role="navigation" aria-label="navigation links" class="page-breadcrumbs">
    <md-nav-item md-nav-click="navigate('dashboard.article.markdown.content')" name="content" value="content" ng-class="{activeTab: $state.is('dashboard.page.markdown.content')}">
        Content
    </md-nav-item>

    <md-nav-item md-nav-click="navigate('dashboard.article.markdown.display')" name="display" value="display" ng-class="{activeTab: $state.is('dashboard.page.markdown.display')}">
        Display
    </md-nav-item>
</md-nav-bar>
