<div ng-if="success">
	<h2>Your password has been reset. You can <a href="" ng-click="login()">login </a> now with your new password.</h2>
</div>
<form ng-if="!err && !success" class="col-xs-12 signup" name="infoForm" ng-submit="updatePassword(password)" novalidate>
		<div class="form-group"
		 ng-class="{ 'has-error': infoForm.password.$touched && infoForm.password.$invalid}" >

			<label>New Password</label>
			<a class="gist-pull-right pointer">
				<i class="fa fa-question-circle"></i>
				 <md-tooltip md-visible="showPasswordToolTip" md-direction="bottom">
		            Min length 8 characters, Max length 20 characters, must contain at least one upper, lower case letter and
		            one non-alpha character (a number or a symbol).
		          </md-tooltip>

			</a>

	  		<div class="input-group">
			  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
			  <input type="password" name="password" autocomplete="off" ng-model="password" class="form-control" ng-minlength="8"
			  ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">
			</div>


			 <div class="help-block" ng-messages="infoForm.password.$error" ng-if="infoForm.password.$touched">
                 <p ng-message="minlength || maxlength">Password must be between 8&ndash;20 characters.</p>
                 <p ng-message="pattern">
                     Password must contain at least one uppercase letter, one lowercase letter, and one number or symbol.
                 </p>
			</div>

		</div>

		<div class="form-group" ng-class="{ 'has-error': infoForm.verifyPassword.$touched && infoForm.verifyPassword.$invalid}">
			<label>Verify New Password</label>
	  		<div class="input-group">
			  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
			  <input type="password" name="verifyPassword" autocomplete="off" ng-model="verifyPassword" password-checker match-target="password" class="form-control" required>
			</div>

			<div class="help-block" ng-messages="infoForm.verifyPassword.$error" ng-if="infoForm.verifyPassword.$touched">
			    <p ng-message="required">Please confirm your password.</p>
			    <p ng-message="match">Your password does not match.</p>
			</div>
		</div>

		<div>
			<button type="submit" class="btn btn-success gist-pull-right"
			ng-disabled="infoForm.$invalid">Reset</button>
		</div>
</form>

<div ng-if="err">
	Error : {{msg}}
</div>
