<md-dialog md-no-ink aria-label="Delete Site">
    <aa-toolbar title="Delete Site" class="warn"></aa-toolbar>
    <md-dialog-content layout-padding>
        <md-content layout="column">

            <p>
                Are you sure you want to delete the site
                <span><strong>{{ title }}</strong></span>?
            </p>


            <p>
                This site and all of its pages will be deleted permanently.
            </p>
        </md-content>


        <aa-dialog-actions warn="Remove Site" cancel=""></aa-dialog-actions>

    </md-dialog-content>

</md-dialog>
