<md-dialog md-no-ink aria-label="{{action === 'make' ? 'Make' : 'Revoke'}} Team Admin">
    <aa-toolbar title="{{action === 'make' ? 'Make' : 'Revoke'}} Team Admin" class="warn"></aa-toolbar>

    <md-dialog-content layout-padding>
        <md-content layout="column">
            <p>
                Are you sure you want to {{action}}
                <span ng-if="(person.firstName || person.lastName)"><strong>{{person.firstName}} {{person.lastName}}</strong></span>
                <span ng-if="!(person.firstName || person.lastName)"><strong>{{ person.email }}</strong></span>
                the admin for <strong>{{team.title}}</strong>?
            </p>
            <p>
                {{action === 'make' ? 'Accepting this change will apply admin privileges to this user.' : 'Accepting this change will remove admin privileges from this user.'}}
            </p>
        </md-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button class="md-dashboard md-warn" ng-click="hide()">
                <span class="btn-label">{{action === 'make' ? 'Make' : 'Revoke'}} Team Admin</span>
            </md-button>
            <md-button class="md-dashboard" ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </md-dialog-content>

</md-dialog>
