<md-dialog md-no-ink aria-label="Resend Invitation">
    <aa-toolbar title="Resend Invitation"></aa-toolbar>

    <form name="vm.userForm" autocomplete="off">
        <md-dialog-content layout-padding>
            <md-content layout="column">
                <p>
                    Do you want to resend your invitation to <strong>{{person.email}}</strong>?
                </p>
            </md-content>
            <md-dialog-actions layout="row" layout-align="end center">

                <md-button class="md-dashboard confirm" ng-click="hide()">
                    <span class="btn-label">Resend Invite</span>
                </md-button>

                <md-button class="md-dashboard" ng-click="cancel()">
                    Cancel
                </md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </form>

</md-dialog>
