<div class="modal fade" id="alert-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="gist-close" data-dismiss="modal" aria-label="Close"><span class="gist-icon-close-big" aria-hidden="true"></span></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
