<div class="modal fade" id="detailView" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="/" class="gist-expand"><span class="gist-icon-roundedsquare"></span></a>
                <button type="button" class="gist-close" data-dismiss="modal" aria-label="Close"><span class="gist-icon-close-big" aria-hidden="true"></span></button>
            </div>
            <div class="modal-body"></div>
            <div class="gist-modal-loading">
                <div class="three-balls">
                    <div class="ball ball1"></div>
                    <div class="ball ball2"></div>
                    <div class="ball ball3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
