<md-content layout="column" layout-gt-xs="row" class="tab-content" md-no-ink>

    <form class="col-xs-12" name="passwordForm" ng-submit="resetPassword()" novalidate="">
        <div flex="80">
            <md-input-container class="md-block">
                <label>Current Password</label>
                <input required type="password" name="currentPassword" validate-password ng-model="currentPassword" >

                 <div class="help-block" ng-messages="passwordForm.currentPassword.$error" ng-if="passwordForm.currentPassword.$touched">
                    <p ng-message="required">Password is required.</p>
                    <p ng-message="correct">Password is not correct.</p>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>New Password</label>
                <input required type="password" name="newPassword" autocomplete="off" ng-model="password" ng-minlength="8"
                    ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">

                <div class="help-block" ng-messages="passwordForm.newPassword.$error" ng-if="passwordForm.newPassword.$touched">
                    <p ng-message="minlength || maxlength">Password must be between 8&ndash;20 characters.</p>
                    <p ng-message="pattern">
                        Password must contain at least one uppercase letter, one lowercase letter, and one number or symbol.
                    </p>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Confirm New Password</label>
                <input required type="password" name="confirmNewPassword" ng-model="verifyPassword" password-checker match-target="password">

                 <div class="help-block" ng-messages="passwordForm.confirmNewPassword.$error" ng-if="passwordForm.confirmNewPassword.$touched">
                    <p ng-message="required">Please confirm your password.</p>
                    <p ng-message="match">Your password does not match.</p>
                </div>
            </md-input-container>

            <div layout="row" layout-align="end center">
                <md-button type="submit" class="md-dashboard" ng-disabled="passwordForm.$invalid">
                    <span class="btn-label">Change</span>
                </md-button>
            </div>
        </div>
    </form>

</md-content>
