/* @override
	http://localhost:9080/stylesheets/module/word-cloud.css */

.word-cloud-list {
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 90px;
    padding-left: 0;
    list-style-type: none;
}

.word-cloud-item {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    vertical-align: bottom;
    font-size: 0.75em;
}

.no-interaction .word-cloud-link {
    cursor: default;
}

.word-cloud-link {
    display: block;
    padding: 5px 15px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
}

@media (min-width: 768px) {
    .word-cloud-item {
        font-size: 1.125em;
    }
}

@media (min-width: 1280px) {
    .word-cloud-item {
        font-size: 1.5em;
    }
}

.word-cloud-link:hover,
.word-cloud-link:focus,
.word-cloud-link:active {
    text-decoration: none;
}

/* @group StandardTooltip */

/**
 * Take away the default StandardTooltip top/left transition since we're having it follow the mouse exactly
 * (makes it harder to "catch" the tooltip unexpectedly with your cursor)
 */
.gist-word-cloud div.gist-tooltip {
    transition: none;
}

/**
 * Add a little triangular base to the tooltip
 */
.gist-word-cloud div.gist-tooltip:after,
.gist-word-cloud div.gist-tooltip:before {
    position: absolute;
    top: 100%;
    right: 50%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: " ";
    pointer-events: none;
}

.gist-word-cloud div.gist-tooltip:after {
    margin-right: -10px;
    border-width: 10px;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
}

.gist-word-cloud div.gist-tooltip:before {
    margin-right: -11px;
    border-width: 11px;
    border-color: rgba(238, 238, 238, 0);
    border-top-color: #eeeeee;
}

/* @end StandardTooltip */

body.puppeteer div#word-cloud {
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body.puppeteer div#word-cloud>.word-cloud-list {
    max-height: 100vh;
}
