/* @override
	http://austenblokker.local.arrays.co:9080/stylesheets/module/filter-menu.css
	http://schema.local.arrays.co:9080/stylesheets/module/filter-menu.css */

/* @group Dimensions */

.gist-filter-menu-group,
.gist-filter-menu-subgroup,
.gist-views-menu-group {
    display: none;
    min-width: 120px;
    max-height: calc(100vh - var(--navbar-height-tablet) - 70px);
}

.gist-filter-menu-group,
.gist-filter-menu-subgroup {
    max-width: calc(50vw - 8px);
}

@media (min-width: 768px) {
    .gist-filter-menu-group,
    .gist-filter-menu-subgroup,
    .gist-views-menu-group {
        max-height: calc(100vh - var(--navbar-height-tablet) - 90px);
    }
}

.gist-filter-menu-group,
.gist-views-menu-group {
    min-height: 56px;
}

.filter-menu-subgroup-positioner {
    min-height: 100%;
}

.gist-filter-menu-subgroup {
    position: absolute;
    top: 0;
    min-height: 100%;
}

/* Query for iOS */
@supports (-webkit-overflow-scrolling: touch) {
    .nav .filter-menu {
        left: 0;
    }

    .gist-filter-menu-group,
    .gist-filter-menu-subgroup {
        min-width: 50vw;
        max-width: 50vw;
        width: 50vw;
    }

    .gist-filter-menu-group-item,
    .gist-filter-menu-group .filter-menu-subgroup-item-range-slider {
        min-width: 100%;
        width: 100%;
    }

    .gist-filter-menu-group .filter-menu-subgroup-positioner {
        right: 0;
        /* transition: right 200ms ease-in-out;
        will-change: right; */
    }

    .gist-filter-menu-group.gist-has-open-submenu {
        min-width: 100vw;
        min-height: 50vh;
        max-width: 100vw;
        width: 100vw;
    }

    .gist-has-open-submenu .filter-menu-subgroup-positioner {
        right: 50%;
        height: 100%;
    }

    .gist-has-open-submenu .gist-filter-menu-group-item,
    .gist-has-open-submenu .filter-menu-subgroup-item-range-slider {
        min-width: 50%;
        width: 50%;
    }

    .gist-has-open-submenu .gist-filter-menu-subgroup {
        max-height: 100%;
        width: 50vw;
    }

    .gist-views-menu-group {
        max-height: calc(100vh - var(--navbar-height-tablet) - 120px);
    }

    .gist-has-open-submenu .filter-menu-subgroup-item .gist-icon-circle-check-on--space-right {
        right: calc(50% + 5px);
    }
}


/* @end Dimensions */

/* @group Overflows */

.filter-menu {
    position: absolute;
}

.gist-filter-menu-group,
.gist-filter-menu-subgroup,
.gist-views-menu-group {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.gist-filter-menu-group {
    position: static;
}

.filter-menu-has-submenu {
    position: static;
}

.filter-menu-subgroup-positioner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

/* @end Overflows */

/* @group Menu */

.filter-menu {
    left: 10px;
}

@media (min-width: 768px) {
    .filter-menu {
        left: 15px;
    }
}

.open .gist-filter-menu-group {
    display: block;
}

/* @end Menu */

/* @group Item */

#page .filter-menu-no-matches,
#page .gist-filter-menu-group-item > a,
#page .filter-menu-subgroup-item > a {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-background);
    font-size: 18px;
}

.gist-filter-menu-group-item > a,
.filter-menu-subgroup-item > a {
    color: var(--color-text-dark);
}

.filter-menu .gist-icon-circle-check-on--space-right::before {
    margin-right: 17px;
}

#page .gist-filter-menu-group-item > a {
    padding-right: 40px;
}

#page .filter-menu-item-active > a {
    padding-right: 65px;
    font-weight: 600;
}

#page .filter-menu-subgroup-item > a {
    padding-right: 40px;
}

#page .gist-filter-menu-group-item:last-child > a,
#page .filter-menu-subgroup-item:last-child > a {
    border-bottom: none;
}

#page .gist-filter-menu-group-item > a:hover,
#page .gist-filter-menu-group-item > a:focus,
#page .gist-filter-menu-group-item > a:active,
#page .gist-filter-menu-group-item.open > a,
#page .filter-menu-subgroup-item > a:hover,
#page .filter-menu-subgroup-item > a:focus,
#page .filter-menu-subgroup-item > a:active {
    background-color: var(--color-filter-menu-hover-bg);
    /*color: #000;*/
}

.filter-menu-has-submenu > a {
    position: relative;
}

.filter-menu-has-submenu > a::after {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 0;
    height: 0;
    border-width: 4px 0 4px 6px;
    border-style: solid;
    border-color: transparent transparent transparent var(--color-filter-menu-arrow);
    content: '';
    transform: translateY(-50%);
}

.filter-menu-has-submenu:hover > a::after,
.filter-menu-has-submenu:hover > a::focus,
.filter-menu-has-submenu:hover > a::active,
.filter-menu-has-submenu.open > a::after {
    border-color: transparent transparent transparent var(--color-filter-menu-arrow-hover);
}

/* @end Item */

/* @group Submenu */

.gist-filter-menu-group-item:hover .gist-filter-menu-subgroup,
.gist-filter-menu-group-item:focus-within .gist-filter-menu-subgroup,
.gist-filter-menu-group-item .gist-slideout-trigger:focus + div .gist-filter-menu-subgroup,
.gist-filter-menu-group-item .gist-slideout-trigger:active + div .gist-filter-menu-subgroup,
.gist-filter-menu-group-item.open .gist-filter-menu-subgroup,
.filter-menu-subgroup:focus {
    display: block;
}

/* @end Submenu */

/* @group SubItem */

#page .filter-menu-no-matches,
#page .gist-filter-menu-group-item > a,
#page .filter-menu-subgroup-item > a {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#page .filter-menu-subgroup-item a {
    padding-right: 65px;
}

#page .filter-menu-subgroup-multiselect .filter-menu-subgroup-item a {
    padding-right: 40px;
}

/* @end SubItem */

/* @group Badge & Check */

.filter-menu-toggle-check,
.gist-filter-menu-group-item .badge {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.gist-filter-menu-group-item .badge {
    right: 25px;
    padding: 0;
    min-width: 18px;
    height: 18px;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    line-height: 18px;
}

.filter-menu-toggle-check {
    color: var(--color-filter-menu-arrow);
    font-size: 25px;
}

.filter-menu-is-toggle,
.filter-menu-subgroup-item {
    position: relative;
}

#page .filter-menu-is-toggle > a {
    padding-right: 50px;
}

.filter-menu-toggle-check {
    right: 5px;
}

/* @end Badge & Check */

/* @group Range Slider */

.filter-menu-subgroup-item-range-slider {
    display: inline-block;
    padding: 15px;
    width: 100%;
    min-width: 200px;
}

@media (max-width: 424px) {
    .filter-menu-subgroup-item-range-slider {
        min-width: 150px;
    }
}

.filter-menu-subgroup-item-range-slider {
    border-bottom: 1px solid var(--color-background);
}

.filter-menu-subgroup-item-range-slider:last-child {
    border-bottom: none;
}


.gist-filter-menu-range-slider.noUi-target {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 7px;
    padding-left: 7px;
    height: 1px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

.gist-filter-menu-range-slider .noUi-base {
    height: 1px;
    background-color: var(--color-text-ultralight);
}

.gist-filter-menu-range-slider .noUi-connect {
    background-color: var(--color-primary);
}

#page .gist-filter-menu-range-slider .noUi-handle {
    top: -7px;
    right: -7px;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 100px;
    background-color: var(--color-primary);
    box-shadow: none;
    cursor: ew-resize;
}

.gist-filter-menu-range-slider .noUi-handle::before,
.gist-filter-menu-range-slider .noUi-handle::after {
    display: none;
}

.filter-menu-range-slider-fieldname {
    /*color: #fff;*/
}

.gist-filter-menu-range-slider-val-min,
.gist-filter-menu-range-slider-val-max {
    display: inline-block;
    width: 50%;
    /*color: #fff;*/
    vertical-align: top;
}

@media (max-width: 424px) {
    .gist-filter-menu-range-slider-val-min,
    .gist-filter-menu-range-slider-val-max {
        font-size: 12px;
    }
}

.gist-filter-menu-range-slider-val-max {
    text-align: right;
}

#page a.gist-filter-menu-range-slider-button {
    display: none;
    float: right;
    margin-top: 10px;
    padding: 4px 16px;
    width: auto;
    border: none;
    background-color: var(--color-filter-menu-arrow);
    border-radius: 900px;
}

#page .filter-menu-subgroup-item > a.gist-filter-menu-range-slider-button:hover {
    background-color: var(--color-primary);
    color: #fff;
}

#page a.gist-filter-menu-range-slider-button-visible {
    display: inline-block;
}


/* @end Range Slider */
