/* @override
	http://localhost:9080/stylesheets/module/pagination.css */

.gallery-pagination,
.table-pagination,
.pie-set-pagination,
.timeline-pagination {
    margin-bottom: 40px;
    text-align: center;
}

.pagination > li > a,
.pagination > li > span {
    border-style: none;
    color: #cccccc;
    font-size: 24px;
}

.pagination > li > a:hover {
    border-style: none;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active,
.pagination > li > .active {
    background-color: transparent;
    color: #4a4a4a;
}

.pagination > li > span:hover {
    background-color: transparent;
    color: #cccccc;
}
