<md-nav-bar md-selected-nav-item="currentNavItem" md-no-ink role="navigation" aria-label="navigation links" class="dashboard-navbar dashboard-navbar-performance">
    <md-nav-item md-nav-click="navigate('dashboard.performance.team')" name="team" value="team" ng-class="{activeTab: $state.is('dashboard.performance.team')}">
        Team
    </md-nav-item>

    <md-nav-item md-nav-click="navigate('dashboard.performance.pages')" name="pages" value="pages" ng-class="{activeTab: $state.is('dashboard.performance.pages')}">
        Pages
    </md-nav-item>
</md-nav-bar>
